// ************************************************************
// gy_promotion
// ************************************************************

/*promotion*/

// js_text__color(base);
// base             : $color__base,
// base_invert      : $color__base__invert,
// title            : lighten($color__base, 15%),
// body             : lighten($color__base, 15%),
// accent           : $color__primary, 
// modify           : $color__hover, 
// modifys          : $color__modify 

// font__size(title);
// default : 14px,
// large   : 16px,
// huge    : 18px,
// small   : 12px,
// title   : 22px,

.gy_promotion {
    // height: calc(100vh - #{$footer_height} - #{$header_height});
    // margin-top: $header_height;
    // margin-bottom: $footer_height;
    // width: 100vw;
    // position: relative;
    overflow: hidden;
    padding-bottom: $footer_height;
    // background: radial-gradient(ellipse at bottom, 
    //     lighten($yabo_orange, 35%),
    //     yabo_background__color(main)
    // );
    .van-button__text,
    .title {
        font-weight: bold;
    }

    .gy_btn {
        white-space: nowrap;
    }
    // display: flex;
    // align-items: stretch;
    .gy_promotion__container {
        position: relative;
        height: 100%;
        overflow-y: scroll;
        .photo-list {
            width: 90%;
            margin: 1em auto;
            .item{
                position: relative;
                padding-top: 0.5em;
                margin-bottom: 1em;
                .item-tag{
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 1em;
                    color: #fff;
                    width: 24px;
                    text-align: center;
                    line-height: 110%;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 0.5em;
                        background: #000;
                        top: 0;
                        left: 0;
                        transform-origin: top;
                        transform: skewX(30deg);
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 0.5em;
                        width: 0;
                        height: 0;
                        bottom: -12px;
                        left: 0;
                        border: 12px solid;
                    }
                    .tag-txt{
                        position: relative;
                        z-index: 1;
                        background: #666;
                        padding: 0.5em 0 0.2em;
                    }
                    &.tag-new{
                        .tag-txt{
                            background: linear-gradient(to bottom,#ff8a79,#e73a67);
                        }
                        &:after{
                            border-color: #e73a67 #e73a67 transparent #e73a67;
                        }
                        &:before{
                            background: #a23c14;
                        }
                    }
                    &.tag-normal{
                        .tag-txt{
                            background: linear-gradient(to bottom,#7dcee9,#3475eb);
                        }
                        &:after{
                            border-color: #3475eb #3475eb transparent #3475eb;
                        }
                        &:before{
                            background: #0b6a9c;
                        }
                    }
                }
                .item-pic{
                    position: relative;
                    z-index: 1;
                    overflow: hidden;	
                    border-radius: 5px;
                    margin: auto;
                    width: calc(100% - 0.8em);
                    height: calc( 90vw * 0.3636);
                    .gy_banner_actImg {
                        width: 100%;
                    }
                    img{
                        position: absolute;
                        width: 100%;
                        height: auto;
                        max-height: none;
                        top: 50%;
                        transform: translateY(-12%);
                    }
                }
                .item-text{
                    position: relative;
                    z-index: 1;
                    padding: 0.7em 1.5em 1.5em;
                    .item-tit{
                        font-weight: bold;
                        font-size: 1.1em;
                    }
                    .item-txt{
                        font-size: 0.82em;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        background: url("~@IMGT/activity/icon_right.png.webp") no-repeat;
                        background-size: contain;
                        right: 1.5em;
                        bottom: 1.7em;
                    }
                }
                &:after{
                    content: '';
                    position: absolute;
                    background: rgba(#fff,0.5);
                    width: 100%;
                    height: 60%;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px 0 rgba(#000,0.1);
                    bottom: 0;
                }
            }
        }
        .detail-list {
            padding: $basic_gap;
            margin: $basic_gap;
            // margin: 0 $basic_gap;
            border-radius: $basic_gap;
            .title {
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
                font-size: font__size(huge);
            }
            .term {
                font-size: font__size(default);
                display: flex;
                margin-bottom: $basic_gap;
                .tit {
                    width: 40%;
                }
                .txt {
                    flex: 1;
                }
            }
            .bonus {
                width: 100%;
                // border-style: solid;
                border-top-style: solid;
                border-left-style: solid;
                border-width: 1px;
                // white-space: nowrap;
                text-align: center;
                margin-bottom: $basic_gap;
                .tit {
                    border-bottom-style: solid;
                    border-right-style: solid;
                    border-width: 1px;
                    font-size: font__size(large);
                    padding: $basic_gap 0;
                }
                .item {
                    border-bottom-style: solid;
                    border-right-style: solid;
                    border-width: 1px;
                    vertical-align: middle;
                }
            }
        }
        .transition {
            // slide-leave-active slide-leave-to
            [class*=slide] {
                position: absolute;
                top: 0;
                &.photo-list {
                    width: 90%;
                    left: 1em;
                }
                &.detail-list {
                    width: calc(100% - #{2*$basic_gap});
                    left: 0;
                }
                // detail-list j_background--secondary-t8
            }
        }
    }
    .gy_header_btn {
        margin: 0 0 1px 0;
        position: static;
        left: 0;
        top: $header_height;
    }
}

.gy_promotion__table {
    // margin: 2*$basic_gap auto;
    position: relative;
    padding: $basic_gap;
    line-height: 15 + font__size(default);
    font-size: font__size(default);
    & .gy_promotion__term {
        margin: $basic_gap auto;
        &:not(:last-child) {
            border-bottom-style: solid;
            border-width: 1px;
        }
        display: flex;
        .gy_promotion__input {
            flex: 1;
            // margin: 0 auto;
            text-align: right;
            &::placeholder {
                color: $yabo_orange
            }
        }
    }
}

.gy_promotion__submit {
    position: absolute;
    bottom: $basic_gap;
    width: calc(100% - 2*#{$basic_gap});
    height: 20 + font__size(title);
    // padding: $basic_gap 2*$basic_gap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 2*$basic_gap;
    text-align: center;
    font-size: font__size(large);
}
