// ************************************************************
// gy_game
// ************************************************************

// font__size(title);
// default : 14px,
// large   : 16px,
// huge    : 18px,
// small   : 12px,
// title   : 22px,

.home-content {
	&[class*=main__container] {
		width: 95%;
		&[class*=-no_header] {
			height: calc(100vh - #{$footer_height} - 1em);
			margin: 1em auto $footer_height auto;
		}
		&[class*=-no_header][class*=-no_footer] {
			height: calc(100vh - 1em);;
			margin: 1em auto auto auto;
		}
	}
	color: #666;

	.van-swipe {
		min-height: 50vw;
		border-radius: $basic_gap;
		// border-style: solid;
		// border-width: 2px;
		.van-swipe-item {
			position: relative;
			// width: 90vw !important;
			overflow: hidden;
			// border-style: solid;
			// border-width: 2px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			// background-position: 20% 20%;
			img {
				position: absolute;
				width: 100%;
				height: auto;
				max-height: none;
				top: 0;
			}
		}
	}

	.home-info-header {
		padding: 2px 2*$basic_gap;
		background: linear-gradient(to right, #7c6150, #b9978b, #aa8e78) 100%/100%;
		border-top-right-radius: $basic_gap;
		border-top-left-radius: $basic_gap;
	}

	.home-info {
		border-radius: $basic_gap;
		margin-top: $basic_gap;
		&.van-hairline--top-bottom::after {
			content: none;
		}
		.van-panel__footer {
			padding: 5px $basic_gap;
		}  
		.home-info-content {
			position: relative;
			flex: 1;
			font-size: font__size(small);
			&.wallet {
				font-size: font__size(huge);
				white-space: nowrap;
				overflow: hidden;
				text-align: center;
				span {
					margin: $basic_gap/2;
				}
			}
			[class*="gy_icon--"]{
				width: 30px;
    			height: 24px;
			}
			&:not(:first-of-type):after {
				content: ' ';
				position: absolute;
				height: 100%;
				top: 0;
				left: 0;
				border-left-style: solid;
				border-left-width: 2px;
				border-left-color: inherit;
			}
			& > div:first-of-type {
				margin-left: 10%;
			}
		}
	}

	$column_num: 3; /* 列數 */
	
	.lottery-section {
		width: 100%;
		// min-height: 330px;
		min-height: calc(#{2*$footer_height} + 4*(100vw - 18px - #{($column_num - 1)*$basic_gap/2})/#{$column_num});
		padding-bottom: 2*$footer_height;
		overflow: hidden;
		// margin-top: 3px;
		margin-top: $basic_gap;
		// margin-bottom: $footer_height;
		transition: min-height .3s;
		// 2020/01/20
		.lottery-shortcut {
			height: calc((100vw - 18px - #{($column_num - 1)*$basic_gap/2})/#{$column_num});
			width: calc(100%/#{$column_num} - #{$basic_gap/2});
			border-radius: $basic_gap;
			margin-bottom: $basic_gap;
			text-align: center;
			user-select: none;
			&:active {
				border-width: 2px;
				border-style: solid;
				& > * {
					// animation: shake 1s linear 5s infinite;
					transform-origin: 50% 100%;
					animation-name: shake;
					animation-duration: 1s;
					animation-timing-function: linear;
					// animation-delay: 1s;
					animation-iteration-count: infinite;
				}
	
				$shake_deg: 5deg;
	
				@keyframes shake {
					0%   {transform: rotate(0);}
					10%  {transform: rotate($shake_deg);}
					20%  {transform: rotate(0);}
					30%  {transform: rotate(-$shake_deg);}
					40%  {transform: rotate(0);}
				}
			}
			.lottery-more {
				font-size: font__size(title);
				font-weight: 700;
			}
		}
	}

    .lottery-list {
        width: 100%;

        .item {
            margin: 0.5em 0 0 0;
            border-radius: 5px;
			background: rgba(#fff, 0.5);
			height: 35px;
			white-space: nowrap;
			// flex: 1;
			// text-align: center;

            &.is-active {
				max-width: 100%;
                background: linear-gradient(90deg, #846c5a, #e4c9bc);
                color: #fff;
				flex: 1;
				transition: max-width .3s linear;
				justify-content: space-around;

                // @for $i from 2 through 10 {
                //     .icon-#{$i} {
                //         // background-image: url("~@IMGT/icon/lottery#{$i}_active.png.webp");
                //         background-image: url("~@IMGT/icon/lottery#{$i}_active.png");
                //     }
                // }
			}
			
			&:not(.is-active) {
				max-width: 35px;
				overflow: hidden;
				// transition: max-width .1s ease-in;
			}

            &.disable {
                filter: grayscale(70%);
                opacity: 0.3;
            }

            .icon {
                margin-left: 0.1em;
                display: flex;
                align-items: center;
                min-height: 45px;
                padding-left: 2.5em;
                background-repeat: no-repeat;
                background-position: center left;
                background-size: auto 80%;
            }

            // @for $i from 2 through 10 {
            //     .icon-#{$i} {
            //         // background-image: url("~@IMGT/icon/lottery#{$i}.png.webp");
            //         background-image: url("~@IMGT/icon/lottery#{$i}.png");
            //     }
            // }
        }
    }

    .lottery-content {
		width: 67%;
		
		.lottery_slider--container {
			transform: translate3d(0, -1px, 0);
			height: calc(100% + 1px);
			// height: 100vh !important;
		}

        .item-flex {
            display: flex;
            flex-wrap: wrap;
        }

        // .item {
        [class*=item] {
            width: calc((100% - 1.5em) / 2);
            height: calc((100vw - 143px)/2);
            position: relative;
            margin-left: 0.5em;
            margin-top: 0.5em;
            overflow: hidden;
            border-radius: 10px;
            float: left;
            .image {
                border-radius: 10px;
                max-width: none;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
            &[class*=-big] {
                width: calc(100% - 1em);
                // height: calc((100vw - 143px)/2);
                .image {
                    width: 100%;
                    max-height: none;
                    transform: translateX(-50%) translateY(-12%);
                }
            }
            &[class*=-disable] {
                .image {
                    // filter: grayscale(70%);
                    // opacity: 0.3;
                }
            }
		}
		
		// 修正一個不能滑動的 bug
		.slide-page {
			.wrap {
				// overflow : auto;
				padding-bottom: 2*$footer_height;
			}
		}
		// 修正一個不能滑動的 bug
		// slide-page 要找時間換掉，不適合這個設計
    }

    .van-popup {
        .van-action-sheet__cancel {
            color: gray;
        }
    }
}