// ************************************************************
// gy_bankCard
// ************************************************************

/*bankCard*/

// js_text__color(base);
// base             : $color__base,
// base_invert      : $color__base__invert,
// title            : lighten($color__base, 15%),
// body             : lighten($color__base, 15%),
// accent           : $color__primary, 
// modify           : $color__hover, 
// modifys          : $color__modify 

// font__size(title);
// default : 14px,
// large   : 16px,
// huge    : 18px,
// small   : 12px,
// title   : 22px,

$gy_bankCard__card__height: 160px;

.gy_bankCard {
    // height: calc(100vh - #{$footer_height} - #{$header_height});
    // margin-top: $header_height;
    // margin-bottom: $footer_height;
    // width: 100vw;
    // position: relative;
    // padding: $basic_gap;
    // display: flex;
    // align-items: stretch;
    .gy_bankCard__container {
        height: 100%;
        // flex: 1;
        overflow-y: scroll;
        // overflow-x: visible;
        padding-bottom: 2*$basic_gap + $footer_height;
        // margin-bottom: $footer_height;
        .bank {
            display: flex;
            align-items: center;
            font-size: font__size(large);
            .icon {
                width: 30px;
                height: 30px;
                margin-right: $basic_gap;
                border-radius: 50%;
                border-width: 2px;
                border-style: solid;
            }
            > :not(.van-icon):not(.icon) {
                flex: 1;
            }
        }
        .gy_bankCard__content {
            margin: $basic_gap auto;
            width: calc(100% - 2*#{$basic_gap});
            // &.gy_bankCard__card {}
            &.gy_bankCard__button {
                // width: calc(100% - 2*#{$basic_gap});
                height: 20 + font__size(title);
                padding: $basic_gap/2 0;
                border-width: 1px;
                border-style: solid;
                border-radius: $basic_gap/2;
                // border: 1px solid js_border__color(invert);
                text-align: center;
                // background-color: js_background__color(day);
                font-size: font__size(title);
                // default : 14px,
                // large   : 16px,
                // huge    : 18px,
                // small   : 12px,
                // title   : 22px,
            }
            &.van-button {
                margin-left: $basic_gap;
            }
        }
        .gy_bankCard__table {
            border-width: 1px;
            border-style: solid;
            border-radius: $basic_gap/2;
        }
    }
}

.gy_bankCard__card {
    min-height: $gy_bankCard__card__height;
    padding: 2*$basic_gap 3*$basic_gap;
    white-space: pre-wrap;
    font-size: font__size(default);
    border-width: 1px;
    border-style: solid;
    border-radius: $basic_gap;
    background: linear-gradient(to right, yabo_background__color(cyan-blue) , yabo_background__color(indigo));
    box-shadow: 1px 1px 4px 2px yabo_background__color(cyan-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forget_bank_pwd {
    text-decoration: underline;
    text-align: left;
}

.gy_bankCard__question,
.gy_bankCard__content.gy_bankCard__table {
    .gy_bankCard__term {
        &:focus, &:hover {
            // box-shadow:
            //     0 0 2px 0px yabo_text__color(orange),
            //     inset 0 0 2px 0px yabo_text__color(orange);
            background-color: rgba(yabo_text__color(day), 0.5);
            box-shadow: 0 0 5px 1px yabo_text__color(day);
        }
    }
}

.gy_bankCard__table {
    // margin: 2*$basic_gap auto;
    position: relative;
    padding: $basic_gap;
    line-height: 15 + font__size(default);
    font-size: font__size(default);
    & .gy_bankCard__term {
        // margin: $basic_gap auto;
        padding: $basic_gap 0;
        white-space: nowrap;
        &:not(:last-child) {
            border-bottom-style: solid;
            border-width: 1px;
        }
        display: flex;
        align-content: center;
        .gy_bankCard__input {
            flex: 1;
            margin: 0 0 0 $basic_gap;
            text-align: left;
            &::placeholder {
                color: $yabo_orange
            }
        }
        .van-cell {
            padding: 0;
            background-color: transparent;
            .van-cell__value {
                padding: 6px 0 0 0;
                // display: contents;
                .van-field__body {
                    // margin: auto 0;
                    align-content: center;
                    .van-field__control {
                        color: $yabo_orange;
                        &::placeholder {
                            color: inherit;
                            opacity: .5;
                        }
                        &:disabled {
                            color: $yabo_orange;
                            -webkit-text-fill-color: $yabo_orange;
                        }
                    }
                    .van-field__right-icon {
                        line-height: 0;
                        .van-icon {
                            color: $yabo_orange;
                        }
                    }
                    .van-icon-clear {
                        line-height: 0;
                    }
                }
            }
        }
    }
}

.gy_bankCard__submit {
    position: absolute;
    bottom: $basic_gap;
    font-size: font__size(huge);
    height: 20 + font__size(huge);
    padding: 0 2*$basic_gap;
    &:not(.van-button) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-width: 2px;
        border-style: solid;
        border-radius: $basic_gap;
        text-align: center;
    }
}

.gy_bankCard__question {
    position: relative;
    width: calc(100vw - 2*#{$basic_gap});
    min-height: fit-content;
    padding: $basic_gap $basic_gap 8*$basic_gap $basic_gap;
    border-style: solid;
    border-width: 1px;
    border-radius: $basic_gap/2;
    text-align: center;
    font-size: font__size(large);
    &.fullpage {
        padding: $basic_gap;
    }
    .gy_bankCard__submit {
        left: 50%;
        transform: translateX(-50%);
        &:not(.van-button) {
            height: 20 + font__size(huge);
            font-size: font__size(huge);
        }
    }
    .gy_bankCard__cross {
        // position: absolute;
        // right: 0;
        // top: 0;
        float: right;
    }
    .hint {
        text-align: left;
        margin-left: $basic_gap;
    }
}