// ************************************************************
// 下载APP
// ************************************************************



// 下载app
.gy_download__icon--title {
    display: inline-block;
    margin-bottom: 10px;
    padding: 20px;
    background-color: background__color(weak);
    border-radius: 20px;
    svg {
        width: 72px;
        height: 72px;
        fill: background__color(base_invert);
    }
}
.gy_download__title {
    font-size: 21px;
    font-weight: bold;
}

.gy_download__item {
    display: inline-block;
    padding: 10px 20px;
    background-color: background__color(primary);
    border-radius: 4px;
}
.gy_download__icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: background__color(base_invert);
}
.gy_download-item__text {
    display: inline-block;
    vertical-align: middle;
    color: text__color(base_invert);
}
.gy_download__bg {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    img {
        vertical-align: bottom;
    }
}