// ************************************************************
// gy_recharge
// ************************************************************

/*recharge*/

// js_text__color(base);
// base             : $color__base,
// base_invert      : $color__base__invert,
// title            : lighten($color__base, 15%),
// body             : lighten($color__base, 15%),
// accent           : $color__primary, 
// modify           : $color__hover, 
// modifys          : $color__modify 

// font__size(title);
// default : 14px,
// large   : 16px,
// huge    : 18px,
// small   : 12px,
// title   : 22px,

.gy_recharge {
    // height: calc(100vh - #{$footer_height} - #{$header_height});
    // margin-top: $header_height;
    // margin-bottom: $footer_height;
    // width: 100vw;
    // position: relative;
    overflow: hidden;
    padding-top: $basic_gap;
    // padding-bottom: $footer_height;
    // background: radial-gradient(ellipse at bottom, 
    //     lighten($yabo_orange, 35%),
    //     yabo_background__color(main)
    // );
    & span {
        font-weight: bold;
    }
    // display: flex;
    // align-items: stretch;
    .gy_recharge__container {
        height: 100%;
        // flex: 1;
        overflow-y: scroll;
        // overflow-x: visible;
        padding: 0 $basic_gap 2*$basic_gap+$footer_height $basic_gap;
        .gy_recharge__section {
            margin: $basic_gap 0;
            padding: $basic_gap/2;
            border-radius: $basic_gap/2;
            width: 100%;
            position: relative;
            // width: calc(100% - 2*#{$basic_gap});
            display: flex;
            flex-direction: column;
            align-items: stretch;
            .gy_recharge__content {
                display: flex;
                overflow-x: scroll;
                margin: $basic_gap/2;
                border-radius: $basic_gap/2;
                text-align: center;
                .gy_recharge__card {
                    position: relative;
                    // min-width: calc(25% - #{$basic_gap/2});
                    min-width: max-content;
                    padding: $basic_gap/4;
                    margin: 0 $basic_gap/4;
                    border-radius: $basic_gap/2;
                    overflow: hidden;
                    // text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    box-sizing: border-box;
                    border-width: 2px;
                    border-style: solid;
                    border-color: yabo_border__color(default);

                    .title {
                        white-space: nowrap;
                    }
                    [class*="bank__icon-"] {
                        width: 32px;
                        height: 32px;
                    }
                    &.money {
                        min-width: calc(20% - #{$basic_gap/2});
                        height: 20 + font__size(small);
                        margin: 0 $basic_gap/4;
                        // padding: $basic_gap;
                        font-size: font__size(small);
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                    }
                    &.actived {
                        border-color: yabo_background__color(blue);
                        &::after {
                            content: '';
                            position: absolute;
                            width: 2*$basic_gap;
                            height: 2*$basic_gap;
                            right: -$basic_gap;
                            top: -$basic_gap;
                            background: yabo_background__color(blue);
                            transform: rotateZ(45deg);
                        }
                    }
                }
                &.input__holder {
                    // padding: $basic_gap/2;
                    .icon {
                        width: font__size(title);
                        height: font__size(title);
                        &.money {
                            margin: $basic_gap/2 0;
                        }
                    }
                    & .input {
                        font-size: font__size(large);
                        width: inherit;
                        &:disabled {
                            color: black;
                            opacity: 1;
                        }
                        &.money {
                            font-size: font__size(small);
                            margin: $basic_gap 0;
                            // &::placeholder {
                            //     color: $yabo_orange
                            // }
                        }
                    }
                }
            }
        }
    }
    .crown_header_btn {
        margin: 0 0 0.5em 0;
        // position: absolute;
        left: 0;
        top: $header_height;
    }
    .order_container.van-popup {
        width: calc(100% - 2*#{$basic_gap});
        padding: $basic_gap;
        background: none;
        .recharge_order {
            position: relative;
            text-align: center;
            padding: $basic_gap $basic_gap 8*$basic_gap $basic_gap;
            border-radius: $basic_gap;
            .title {
                font-size: font__size(large);
                margin-bottom: $basic_gap;
            }
            .gy_bankCard__card {
                margin: auto;
                padding: 2*$basic_gap $basic_gap;
                .icon {
                    height: 40px;
                    width: 40px;
                    // margin-right: $basic_gap;
                    border-radius: 50%;
                    border-width: 2px;
                    border-style: solid;
                }
                .term {
                    margin-bottom: $basic_gap/2;
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    &.title {
                        align-items: center;
                    }
                    .fix {
                        width: fit-content;
                        padding: 0 $basic_gap;
                        border-radius: 10px;
                        border-style: solid;
                        border-width: 1px;
                        white-space: nowrap;
                    }
                    .txt {
                        text-align: left;
                        flex: 1;
                        word-break: break-all;
                    }
                    &:first-of-type {
                        font-size: font__size(large);
                    }
                }
            }
        }
    }
}

.gy_recharge__table {
    // margin: 2*$basic_gap auto;
    position: relative;
    padding: $basic_gap;
    line-height: 15 + font__size(default);
    font-size: font__size(default);
    & .gy_recharge__term {
        margin: $basic_gap auto;
        &:not(:last-child) {
            border-bottom-style: solid;
            border-width: 1px;
        }
        display: flex;
        .gy_recharge__input {
            flex: 1;
            // margin: 0 auto;
            text-align: right;
            &::placeholder {
                color: $yabo_orange
            }
        }
    }
}

.gy_recharge__submit {
    position: absolute;
    // position: fixed;
    bottom: $basic_gap;
    // bottom: $basic_gap + $footer_height;
    left: $basic_gap;
    margin-top: $basic_gap;
    width: calc(100% - 2*#{$basic_gap});
    font-size: font__size(large);
    z-index: 1;
    &.van-button {
        // margin-left: $basic_gap;
    }
    &:not(.van-button) {
        height: 20 + font__size(title);
        // padding: $basic_gap 2*$basic_gap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-width: 2px;
        border-style: solid;
        border-radius: 2*$basic_gap;
        text-align: center;
    }
}
