// ************************************************************
// gy_failure
// ************************************************************

.gy_failure {
	padding: 30px;
	height: 100vh;
	& .gy_failure--inner {
		position: relative;
		text-align: center;
		transform: translateY(-27%);
		& .gy_failure--content {
			position: absolute;
			bottom: 5%;
			left: 50%;
			display: table;
			transform: translate(-50%, -5%);
			& p {
				font-size: 12vmin;
				text-align: center;
				font-weight: bold;
				text-shadow: 2px 2px 2px #00223a;
			}
			& span {
				display: table;
				margin: 15px auto;
				font-size: 6vmin;
				text-align: center;
				letter-spacing: 4px;
			}
		}
		& .gy_failure--button {
			position: absolute;
			width: 75%;
			bottom: -22px;
			left: 50%;
			transform: translateX(-50%);
			display: table;
			font-weight: bold;
			margin: auto;
			padding: 10px 0;
			border-radius: 22px;
			color: #001243;
			font-size: 7vmin;
			box-shadow: 4px 4px 20px 0px rgba(0,9,30,1);

		}
	}
}