// ************************************************************
// gy_header
// ************************************************************

$transition_time: .25s;

.gy_header {
	background: none;
	overflow: visible;
	&::before {
		content: ' ';
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		border: 0;
		transform: scale(1);
		height: 6px;
		border-width: 1px;
		border-color: #a8622b;
		border-style: solid none;
		background-image: radial-gradient(circle at center, #fffdfa, #f4c855, #d27a21, #d27a21);
	}
	&::after {
		// content: none;
		top: 100% * 10 / 60;
		left: -100%;
		bottom: auto;
		right: auto;
		border: 0;
		transform: rotate(-5deg);
		width: 85px;
		height: 75px;
		background-image: url('~@IMGT/sign-logo.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: all $transition_time linear;
	}
	.van-nav-bar__right {
		right: 10px;
		transition: all $transition_time linear;
	}
	&.left::after {
		left: 100% * 15 / 360;
	}
	&.right {
	    .van-nav-bar__right {
	        right: calc(100% - 90px);
	    }
	    &::after {
	        left: calc(#{100% * 345 / 360} - 85px);
	    }
	}
	.van-nav-bar__left {
		.van-nav-bar__text:active {
			background-color: rgba(255, 255, 255, 0.15);
		}
	}
	.header-right {
		height: $header_height;
		width: 80px;
	}
}