// ************************************************************
// gy_layout
// ************************************************************

.gy_container--game,
.gy_container {
    width: 100%;

    &.loaded {
        padding-top: 45px; //扣掉 header
        // position: relative;
        // top: 29px;
    }
}

//首頁
.gy_list-main .gy__scroll--default {
    position: relative;
    // padding-top: 45px;                           //header
    padding-bottom: 65px; //footer
}

.gy_list-main .gy__scroll--lobby {
    padding-top: 89px; //search
    padding-bottom: 59px; //footer
    position: relative;
}

//報表
.gy_container__scroll--report {
    position: relative;
    // padding-top: 79px;                          //header
    padding-bottom: 59px; //footer
}

//報表
.gy_container__scroll--noresult {
    position: relative;
    padding-top: 84px; //header
    padding-bottom: 59px; //footer

    &.gy_activity {
        padding-top: 49px; // activity header
    }
}

//報表详情
.gy_list-detail__content.gy_list__content__scroll {
    padding-top: 45px;
    padding-bottom: 70px; //footer + 間距
}

//充值 & 提現
.gy_list__content.gy_list__content__scroll {
    position: relative;
    padding-top: 45px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}


//聊天
// .gy_chat__body.gy__scroll--default {
//     padding-bottom: 0;
// }



// 分紅設定
.gy_day-share {
    .gy_day-share--header {
        position: fixed;
        top: 45px;
        z-index: 5;

        &+.gy_day-share__list {
            padding-top: calc(232px + 15px);
            padding-bottom: 70px;
        }
    }

    .gy_day-share--footer {
        position: fixed;
        left: 0;
        bottom: 59px;
        z-index: 5;
    }
}


// 站內信-選擇收件人
.gy_envelope__select__header {
    position: fixed;
    top: 45px;
    z-index: 5;
}

.c_table--scroll--message {
    thead {
        position: fixed;
        width: calc(100% - 20px);
        top: calc(45px + 92px + 15px);
        z-index: 5;
    }

    tbody {
        padding-top: calc(107px + 38px);
        // padding-bottom: calc(59px + 53px);
    }
}

// 站內信-發件箱收件人
.c_table--scroll--recipient {
    thead {
        position: fixed;
        width: calc(100% - 20px);
        top: calc(45px + 64px);
        z-index: 5;
    }

    tbody {
        padding-top: calc(64px + 38px);
        // padding-bottom: calc(59px + 53px);
    }
}


.gy_bg_login {
    &:after {
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // background: url("~@IMGT/login_bg.jpg") no-repeat center;
        // background: url("~@IMGT/wap_background.jpg") no-repeat center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("~@IMGT/wap_background.jpg");
        background-position: center top;
        background-size: cover;
        position: fixed;
        z-index: -1;
    }
}

.login-box {
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .top_v {
        position: fixed;
        top: 1em;
        left: 1em;
        color: #fff;
    }

    .login-mask {
        margin: auto;
        display: flex;
    }

    .login-form {
        transition: all 0.5s;
        width: 100vw;
        padding: 0 1em;
        margin: auto;
        display: flex;

        .box {
            min-height: 45vh;
            color: #fff;
            text-align: center;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-size: 1.2em;
                padding-top: 1.5em;
            }

            .form {
                padding: 1.5em;

                .input {
                    margin-bottom: 0.7em;
                    border-radius: 50px;
                    padding: 0.3em;

                    ::placeholder {
                        color: #fff;
                    }

                    .van-cell {
                        background-color: transparent;
                        color: #fff;
                    }

                    .van-field__control {
                        color: #fff;
                    }

                    .van-cell__value {
                        display: flex;
                        flex-direction: column;
                        // align-items: center;
                        justify-content: center;

                        .van-field__error-message {
                            background-color: rgba(rgb(134, 134, 134), 0.9);
                            padding: 5px;
                            border-radius: 5px;
                        }

                        .van-field__control::placeholder {
                            color: rgba(216, 216, 216, 0.4);
                        }
                    }
                }

                .link {
                    display: inline-block;
                    font-size: 0.75em;
                    // border-bottom: 1px solid inherit;
                    text-decoration: underline;
                }

                .gy_btn {
                    margin-top: 1em;
                    color: #fff;
                    height: 45px;
                    font-size: 1.1em;
                }
            }
        }

        .sider {
            flex: 0 0 1em;
            padding: 1em;
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .van-icon {
                position: relative;
                padding: 0.3em;
                margin-bottom: 0.3em;
                border: 1px solid #fff;
                border-radius: 100%;
            }
        }

        &.login {
            transform: translateX(-100%);

            &.is-active {
                transform: translateX(0);
            }

            .box {
                border-radius: 10px 0 0 10px;
                background: rgba(216, 216, 216, 0.4);
            }

            .sider {
                border-radius: 0 10px 10px 0;
                background: rgba(#000, 0.4);

                .van-icon {
                    &:after {
                        content: '+';
                        position: absolute;
                        right: -0.1em;
                        bottom: 0.5em;
                        font-weight: bold;
                    }
                }
            }

            .form {
                .input {
                    &::before {
                        background: rgba(#000, 0.3);
                    }
                }

                .gy_btn {
                    background: linear-gradient(90deg, #42d2e8, #3a97e5);
                }
            }
        }

        &.register {
            transform: translateX(0);

            &.is-active {
                transform: translateX(-100%);
            }

            .sider {
                border-radius: 10px 0 0 10px;
                background: rgba(216, 216, 216, 0.4);
            }

            .box {
                border-radius: 0 10px 10px 0;
                background: rgba(#000, 0.4);
            }

            .form {
                .input {
                    &::before {
                        background: rgba(#fff, 0.2);
                    }
                }
            }
        }

        .form {
            .input {
                // background: rgba(#fff, 0.2);s
                position: relative;
                z-index: 1;

                .van-field__button {
                    padding: 0;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    left: 0;
                    top: 2px;
                    border-radius: 50px;
                    // background: rgba(#fff, 0.2);
                }

                &.actived::before {
                    box-shadow: 0 0 10px #719ECE;
                }

                &.validate::before {
                    // height: 100%;
                    // max-height: 80px;
                    height: 60px;
                }

                &.validate {
                    .van-field {
                        transform: translateY(1px);
                    }
                }

                .van-cell__value {
                    overflow: visible;

                    .van-field__error-message {
                        transform: translateY(10px);
                    }
                }

                .van-image {
                    transform: translateY(2px);
                }
            }

            .gy_btn {
                background: linear-gradient(90deg, #42d2e8, #3a97e5);
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px transparent;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}