// ************************************************************
// gy_footer
// ************************************************************

/*footer*/

.gy_footer {
    z-index: 1000;
    .gy_content__link {
        // width: 60px;
        position: relative;
        overflow-x: hidden;
        // white-space: nowrap;
        // border-right: 2px solid js_border__color(invert);
        &:not(:last-of-type):after {
            content: "";
            position: absolute;
            right: 0;
            z-index: 100;
            top: 10%;
            width: 1px;
            height: 80%;
            background: yabo_background__color(main);
        }
        .van-tabbar-item__icon {
            margin: 5px 0 0 0;
        }
        .gy_link__text {
            font-size: font__size(default);
            text-align: center;
            &.actived {
                // color: js_text__color(base);
            }
        }
    }
    .language {
        transform: translateY(-3px);
        .van-tabbar-item__icon {
            margin: 0;
            .language_icon {
                min-width: 23px;
                max-width: 23px;
                width: 23px;
                margin-top: 3px;
            }
        }
    }
    .color_bg {
        fill: rgb(141, 142, 144);
    }
    .color_stroke {
        fill: #FFF;
        // fill: transparent;
    }
}


// .gy_footer {
//     width: 100%;
//     position: fixed;
//     bottom: 0;
//     text-align: center;
//     z-index: 100;
//     .gy_footer__inner {
//         height: $footer_height;
//         .gy_footer__main {
//             height: 100%;
//             padding: 6px 0;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             // & .gy_content__link {
//             //     width: 60px;
//             //     position: relative;
//             //     white-space: nowrap;
//             //     // border-right: 2px solid js_border__color(invert);
//             //     &:not(:last-child):after {
//             //         content: "";
//             //         position: absolute;
//             //         right: 0;
//             //         z-index: 100;
//             //         top: 20%;
//             //         width: 2px;
//             //         height: 60%;
//             //         background: js_border__color(invert);
//             //     }
//             // }
//         }
//         & /*span*/.gy_link__text {
//             display: inline-block;
//             vertical-align: middle;
//             font-size: font__size(title);
//             // default : 14px,
//             // large   : 16px,
//             // huge    : 18px,
//             // small   : 12px,
//             // title   : 22px,
//             color: js_text__color(base_invert);
//             &.actived {
//                 color: js_text__color(base);
//             }
//             // base             : $color__base,
//             // base_invert      : $color__base__invert,
//             // title            : lighten($color__base, 15%),
//             // body             : lighten($color__base, 15%),
//             // accent           : $color__primary, 
//             // modify           : $color__hover, 
//             // modifys          : $color__modify 
//         }
//     }
// }


