// ************************************************************
// gy_background__color
// ************************************************************


$yabo_blue  : #029ffe;
$yabo_indigo: #377bed;
$yabo_lazuli: #3c3cff;
$yabo_orange: #ed7d31;
$yabo_bg 	: #b2a8a6;
$yabo_bg2   : #788085;
$yabo_bg3   : #d5d5d5;
$yabo_bg4   : #999395;
$yabo_bg5   : #1bdb6b;
$grass      : #00a745;
$green      : #348034;
// $tomato     : #e94335;
$tomato     : #fa2828;
$red        : #b4231e;
$day        : #ffffff;
$body       : #262626;
$night      : #000000;
$brown      : #9d745a;


$yabo_background__color: (
	main: 		$yabo_bg,
    secondary: 	$yabo_bg2,
    button: 	$yabo_bg3,
    // button2: 	lighten($yabo_bg2, 11%),
    button2: 	$yabo_bg4,
    lighten: 	lighten($yabo_bg3, 10%),
	header: 	$yabo_blue,
    day:		$day,
    blue:       $yabo_blue, // #029ffe
    green:      $yabo_bg5,
    cyan-blue:  lighten($yabo_blue, 25%),
    // indigo:     darken($yabo_blue, 10%)
    indigo:     $yabo_indigo,
    tomato:     $tomato,
    night:      $night,
    none:       transparent,
);
@function yabo_background__color($name) {
    @return map-get($yabo_background__color, $name);
}

$yabo_border__color: (
    base:       $yabo_bg,
    secondary:  $yabo_bg2,
    default: 	$yabo_bg3,
    button: 	darken($yabo_bg3, 15%),
    button2:    $yabo_bg4,
    button3: 	lighten($yabo_bg3, 5%),
    blue:       $yabo_blue, // #029ffe
    green:      $yabo_bg5,
    cyan-blue:  lighten($yabo_blue, 30%),
    night:      $night,
    day:		$day,
    none:       transparent,
);
@function yabo_border__color($name) {
    @return map-get($yabo_border__color, $name);
}

$yabo_text__color: (
    main: 		$yabo_bg,
    secondary: 	$yabo_bg2,
    day:		$day,
    blue:       $yabo_blue, // #029ffe
    green:      $yabo_bg5,
    cyan-blue:  lighten($yabo_blue, 25%),
    indigo:     $yabo_indigo,
    lazuli:     $yabo_lazuli,
    orange:     $yabo_orange,
    grass:      $grass,
    success:    $green,
    tomato:     $tomato,
    red:        $red,
    lemon:      lighten($yabo_orange, 20%),
    night:      $night,
    body:       $body,
    brown:      $brown,
);
@function yabo_text__color($name) {
    @return map-get($yabo_text__color, $name);
}

@each $key, $value in $yabo_background__color {
	.j_background--#{$key} {
        &,&.force {
            background-color: $value;
        }
    };
    @for $i from 1 through 9 {
        .j_background--#{$key}-t#{$i} {
            &,&.force {
                background-color: transparentize($value, 0.1*$i);
            }
        };
    }
};

.j_background--header {
    &,&.force {
        background: linear-gradient(to right, rgb(0, 213, 253), rgb(2, 136, 254)) 100% / 100%;
        // background: linear-gradient(to right, #00d5fd, #0288fe) 100%/100%;
    };
}

@each $key, $value in $yabo_border__color {
	.j_border--#{$key} {
        &,&.force {
            border-color: $value;
        }
    };
    @for $i from 1 through 9 {
        .j_border--#{$key}-t#{$i} {
            &,&.force {
                border-color: transparentize($value, $i*0.1);
            }
        };
    }
};

@each $key, $value in $yabo_text__color {
	.j_text--#{$key} {
        &,&.force {
            color: $value;
        }
	};
};

// 強制改 nav-bar 套件顏色
.j_text--day.force {
    & .van-nav-bar__text, & .van-nav-bar__title, & .van-icon.van-icon-arrow-left.van-nav-bar__arrow {
        color: yabo_text__color(day);
    }
}
