// ************************************************************
// variable.color
// ************************************************************

/********** WAP USAGE ************/
$tomato     : #e94335;
$gamebutton : #ef857d;
$checkpoint : #ee7936;
$checkbox   : #41dc64;
$yellow     : #fdd35c;
$grass      : #00a745;
$riptide    : #ffc7af;
$lawngreen  : #4ab466;

$forborder  : #dddddd;
$gray       : #fafafa;
$night      : #000000;
$day        : #ffffff;

/** yabo */
$yabo_blue  : #029ffe;
$yabo_bg 	: #b2a8a6;
$yabo_bg2   : #788085;
/** yabo */
/******** WAP USAGE END **********/

// brand color setting
$tangerine   : #b4382a;
$tangerines  : #9c3225;
$violet      : #bf5dcc;
$emerald     : #6fd7a6;
$yelloworange: #ffb940;
$acapulc     : #50c4c1;
$iron        : #4d4945;
$coffee      : #c1a07b;
$pink        : #f8f3f0;
$potato      : #e0dcd9;
$yolk        : #f4efec;
$lightyellow : #f3e7dd;
$darkyellow  : #d2b5a0;
$lightcoffee : #f7eee9;
$darkcoffee  : #eddacf;
$coffee      : #af8278;
$red         : #fa2828;
$blue        : #4e4eec;






// ************************************************************
// usage
// ************************************************************

/********** WAP USAGE ************/
$color__primary           : $tomato;
$color__primarys          : $tangerines;
$color__secondary         : $yabo_bg2;
$color__tertiary          : $yellow;
$color__base              : $night;
$color__base__invert      : $yabo_bg;
$color__red               : $red;
$color__blue              : $blue;
$color__grass             : $grass;
$color__change            : $forborder;
$color__lawngreen         : $lawngreen;
$color__day               : $day;
/******** WAP USAGE END **********/

$color__accent            : $checkbox;
$color__strong            : $checkpoint;
$color__success           : $acapulc;
$color__info              : $riptide;
$color__warning           : $yelloworange;
$color__default           : $iron;
$color__default__invert   : $gray;
$color__modify            : $gamebutton;
$color__change__invert    : $darkyellow;
$color__modify__linear    : $lightcoffee;
$color__modify__linears   : $darkcoffee;
$color__coffee            : $coffee;
$color__hover             : $red;


$icon__color__primary     : $tangerine;
$icon__color__secondary   : $riptide;
$icon__color__accent      : $violet;
$icon__color__info        : $emerald;
$icon__color__warning     : $yelloworange;
$icon__color__base        : $night;
$icon__color__base__invert: $day;


/** 固定常數 **/
// $footer_height      :   42px;
$footer_height      :   45px;
$header_height      :   60px;
$basic_gap          :   10px;
/** 固定常數 **/


$icon__color: (
    /********** WAP USAGE ************/
    weak             : darken($color__base__invert, 30%),
    /******** WAP USAGE END **********/

    primary          : $icon__color__primary,            // #eb6b4b
    secondary        : $icon__color__secondary,          // #788085
    accent           : $icon__color__accent,             // #b460bf
    info             : $icon__color__info,               // #5ac48e
    warning          : $icon__color__warning,            // #ffb940
    base_invert      : $icon__color__base__invert,       // #ffffff
    base             : $icon__color__base                // #000000
);
@function icon__color($name) {
    @return map-get($icon__color, $name);
}



// $background__color: (
//     /********** WAP USAGE ************/
//     weak             : lighten($color__base, 60%),        // #999999
//     base             : $color__base,                      // #000000
//     base_invert      : $color__base__invert,              // #ffffff
//     light            : darken($color__base__invert, 1%),  // #fcfcfc
//     default          : lighten($color__base, 30%),        // #4d4d4d
//     unread           : $color__hover,
//     /******** WAP USAGE END **********/

//     primary          : $color__primary,                   // #eb6b4b
//     primarys         : $color__primarys,                  // #f2d5cc
//     secondary        : $color__secondary,                 // #788085
//     tertiary         : $color__tertiary,                  // #fdd35c
//     accent           : $color__accent,                    // #b460bf
//     strong           : $color__strong,                    // #c1a07b
//     success          : $color__success,                   // #54c3bf
//     info             : $color__info,                      // #5ac48e
//     warning          : $color__warning,                   // #ffb940
//     default_invert   : $color__default__invert,           // #f8f3f0
//     modify           : $color__change,                    // #f4efec
//     modify_invert    : $color__change__invert,            // #d2b5a0
//     modifys          : $color__modify,                    // #f4efec
//     coffee           : $color__modify__linear,            // #f7eee9
//     coffees          : $color__modify__linears            // #eddacf
// );
// @function background__color($name) {
//     @return map-get($background__color, $name);
// }



// $border__color: (
//     /********** WAP USAGE ************/
//     weak            : $color__change,                     // #f2f2f2
//     base_invert     : $color__base__invert,               // #ffffff
//     light           : $color__change,                     // #f2f2f2
//     strong          : $color__strong,                     // #ee7936
//     /******** WAP USAGE END **********/

//     primary    : $color__primary,                         // #eb6b4b
//     primarys   : $color__primarys,                        // #f2d5cc
//     base       : lighten($color__base, 81%),              // #cfcfcf
//     dark       : lighten($color__base, 50%),              // #808080
//     modify     : $color__change__invert,                  // #d2b5a0
//     modifys    : $color__hover                            // #fa2828
// );
// @function border__color($name) {
//     @return map-get($border__color, $name);
// }


// $text__color: (
//     /********** WAP USAGE ************/
//     weak            : lighten($color__base, 60%),         // #999999
//     base_invert     : $color__base__invert,               // #ffffff
//     secondary_invert: darken($color__base__invert, 25%),  // #bfbfbf
//     light           : $color__change,                     // #f2f2f2
//     default         : lighten($color__base, 30%),         // #4d4d4d
//     /******** WAP USAGE END **********/

//     base            : lighten($color__base, 15%),         // #262626
//     secondary       : $color__secondary,                  // #52b9d6
//     default_invert  : $color__default__invert,            // #d9d9d9
//     info            : $color__info,                       // #5ac48e
//     primary         : $color__primary,                    // #eb6b4b
//     warning         : $color__warning,                    // #ffb940
//     modify          : $color__hover,                      // #fa2828
//     modifys         : $color__coffee                      // #af8278
// );
// @function text__color($name) {
//     @return map-get($text__color, $name);
// }


// // shadow
// $shadow__color: (
//     default: rgba($color__base, 0.55),
//     dark   : rgba($color__base, 0.75),
//     light  : rgba($color__base, 0.15)
// );
// @function shadow__color($name) {
//     @return map-get($shadow__color, $name);
// }

// **********
// **********
// $js_background__color: (
//     /********** WAP USAGE ************/
//     primary          : $color__primary,                  // #e94335
//     tertiary         : $color__tertiary,                 // #fdd35c
//     weak             : lighten($color__base, 60%),       // #999999
//     transparent      : transparent,
//     menu_primary     : $color__primary,                  // #e94335
//     light            : $color__base__invert,             // #
//     day              : $color__day,                      // #ffffff
//     desc             : $color__default__invert,          // #f2f2f2
//     success          : $color__grass,
//     modifys          : $color__modify,                   // #f4efec
//     /******** WAP USAGE END **********/


//     primarys         : $color__primarys,                 // #f2d5cc
//     secondary        : $color__secondary,                // #788085 yabo
//     // base          : $color__base__invert,             // #ffffff
//     base             : $color__base__invert,             // #b2a8a6 yabo
//     default          : $color__default,                  // #f4efec
//     strong           : $color__strong                    // #ee7936
// );
// @function js_background__color($name) {
//     @return map-get($js_background__color, $name);
// }

// $js_border__color: (
//     /********** WAP USAGE ************/
//     primary          : $color__primary,                  // #e94335
//     weak             : lighten($color__base, 60%),       // #999999
//     transparent      : transparent,
//     blue             : $yabo_blue,                       // #029ffe
//     cyan-blue        : lighten($yabo_blue, 30%),                       
//     /******** WAP USAGE END **********/

//     base       : $color__change,                          // #cfcfcf
//     strong     : $color__strong,                          // #ee7936
//     dark       : lighten($color__base, 50%),              // #808080
//     invert     : $color__base__invert                     // #b2a8a6 yabo
// );
// @function js_border__color($name) {
//     @return map-get($js_border__color, $name);
// }



// $js_button-background__color: (
//     primary          : $color__primary,                  // #eb6b4b
//     secondary        : $color__tertiary, // #52b9d6
//     modifys          : $color__modify,                   // #f4efec
//     // base             : $color__base__invert,             // #54c3bf
//     base             : $color__success,             // #54c3bf
//     default          : lighten($color__base, 81%),       // #cfcfcf
//     warning          : $color__info,
//     grass            : $color__lawngreen                 // #4ab466
// );
// @function js_button-background__color($name) {
//     @return map-get(js_button-background__color, $name);
// }



// $js_button-text__color: (
//     primary          : $color__primary,             // #ffffff
//     secondary        : $color__base__invert,             // #ffffff
//     base             : $color__base__invert              // #ffffff
// );
// @function js_button-text__color($name) {
//     @return map-get($js_button-text__color, $name);
// }



// $js_text__color: (
//     /********** WAP USAGE ************/
//     primary         : $color__primary,                    // #e94335
//     weak            : lighten($color__base, 60%),         // #999999
//     menu_primary    : $color__primary,                    // #e94335
//     success         : $color__grass,
//     light           : $color__change,
//     hint            : $color__red,
//     blue            : $yabo_blue,                         // #029ffe
//     day             : $day,
//     /******** WAP USAGE END **********/

//     base             : $color__base,
//     base_invert      : $color__base__invert,
//     title            : lighten($color__base, 15%),         // #262626
//     body             : lighten($color__base, 15%),         // #262626
//     accent           : $color__primary,                    // #eb6b4b
//     modify           : $color__hover,                      // #fa2828
//     modifys          : $color__modify                     // #f4efec

// );
// @function js_text__color($name) {
//     @return map-get($js_text__color, $name);
// }
